@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel:wght@200;300;400;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main_navigation_bar {
  height: 80px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5vw;
  box-shadow: 0px -3px 4px 5px rgba(0, 0, 0, 0.16);
}
.main_navigation_bar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_navigation_bar .logo a img {
  position: relative;
  top: 2px;
  width: 65px;
}
.main_navigation_bar .toggle_nav {
  width: 53px;
  height: 53px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8px;
  border: none;
  background: #fff;
  border: 2px solid #43c8d9;
}
.main_navigation_bar .toggle_nav:hover {
  cursor: pointer;
}
.main_navigation_bar .toggle_nav span {
  height: 3px;
  border-radius: 5px;
  width: 80%;
  background: #43c8d9;
}
.main_navigation_bar .nav_list {
  box-shadow: -1px 0px 2px 3px rgba(0, 0, 0, 0.13);
  max-width: 500px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: -100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main_navigation_bar .nav_list .close_nav {
  position: absolute;
  right: 15px;
  top: 15px;
  background: unset;
  border: none;
}
.main_navigation_bar .nav_list .close_nav img {
  width: 110%;
}
.main_navigation_bar .nav_list .close_nav:hover {
  cursor: pointer;
}
.main_navigation_bar .nav_list .list_item {
  margin: 15px 0px;
}
.main_navigation_bar .nav_list .list_item .item_link {
  margin: 10px 0px;
  font-size: 1.4rem;
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
  background: unset;
  border: none;
}
.main_navigation_bar .nav_list .list_item .item_sub_nav {
  border-left: 1px solid #b9b9b9;
  height: auto;
  display: none;
  flex-direction: column;
  padding: 10px 0px 10px 20px;
}
.main_navigation_bar .nav_list .list_item .item_sub_nav li {
  margin: 10px 0px;
}
.main_navigation_bar .nav_list .list_item .item_sub_nav li a {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
}

.home__header {
  padding: 0px 8vw;
  width: 100%;
  height: 625px;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__header h1 {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  text-align: center;
  max-width: 785px;
}
.home__header p {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.home__main {
  padding: 40px 8vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__main p, .home__main h2, .home__main ol {
  max-width: 850px;
}
.home__main p {
  font-family: "Martel", serif;
  text-align: justify;
  margin: 20px 0px;
  color: #45413e;
}
.home__main h2 {
  margin: 20px 0px;
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
}
.home__main ol li {
  font-family: "Martel", serif;
  text-align: justify;
  margin: 20px 0px;
  color: #45413e;
}
.home__main ol li b {
  color: rgb(45, 171, 188);
}

.home__first_section {
  padding: 40px 8vw;
  width: 100%;
  height: auto;
  background: rgb(45, 171, 188);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__first_section h2 {
  margin: 20px 0px;
  color: #fff;
  font-family: "Mulish", sans-serif;
  text-align: center;
}
.home__first_section ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  width: 100%;
}
.home__first_section ol li {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  padding: 35px;
  background: #fff;
}
.home__first_section ol li h3 {
  margin: 20px 0px;
  color: rgb(45, 171, 188);
  font-family: "Fire Sans", sans-serif;
  text-align: center;
}
.home__first_section ol li p {
  font-family: "Mulish", sans-serif;
  color: #45413e;
  text-align: justify;
}

.home__second_section {
  width: 100%;
  height: auto;
  padding: 40px 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home__second_section p, .home__second_section h2, .home__second_section a {
  margin: 20px 0px;
  max-width: 850px;
}
.home__second_section h2 {
  color: rgb(45, 171, 188);
  font-family: "Mulish", sans-serif;
}
.home__second_section p {
  font-family: "Martel", serif;
  color: #45413e;
  text-align: justify;
}
.home__second_section a {
  font-family: "Mulish", sans-serif;
  color: #fff;
  background: rgb(45, 171, 188);
  border: 3px solid rgb(45, 171, 188);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.home__second_section a:hover {
  background: #fff;
  color: rgb(45, 171, 188);
}

.inscription__main {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  padding: 120px 8vw 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.inscription__main h1, .inscription__main p, .inscription__main h2, .inscription__main form {
  max-width: 850px;
}
.inscription__main h1 {
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
  text-align: center;
  margin-bottom: 20px;
}
.inscription__main p {
  margin: 20px 0px;
  font-family: "Martel", serif;
  color: #45413e;
  text-align: justify;
}
.inscription__main h2 {
  color: rgb(45, 171, 188);
  font-family: "Mulish", sans-serif;
  margin: 20px 0px;
  text-align: center;
}
.inscription__main #defineRoleForm {
  width: 100%;
  padding: 20px 0px 0px;
}
.inscription__main #defineRoleForm .form__item .item__label {
  font-family: "Mulish", sans-serif;
  margin-right: 10px;
  color: #45413e;
  font-size: 1.2rem;
}
.inscription__main #defineRoleForm .form__item .item__select {
  border: none;
  padding: 10px;
  background-color: rgb(45, 171, 188);
  text-transform: uppercase;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}
.inscription__main #recruiterSignUpForm, .inscription__main #candidateSignUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}
.inscription__main #recruiterSignUpForm .form_status, .inscription__main #candidateSignUpForm .form_status {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.inscription__main #recruiterSignUpForm input, .inscription__main #candidateSignUpForm input {
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  margin: 20px 0px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #45413e;
  width: 100%;
}
.inscription__main #recruiterSignUpForm input:focus, .inscription__main #candidateSignUpForm input:focus {
  padding: 5px;
  outline: #b9b9b9;
  color: rgb(45, 171, 188);
  border-bottom: 1px solid rgb(45, 171, 188);
}
.inscription__main #recruiterSignUpForm small, .inscription__main #candidateSignUpForm small {
  font-family: "Mulish", sans-serif;
  color: #45413e;
  margin: 20px 0px;
  text-align: justify;
  align-self: flex-start;
}
.inscription__main #recruiterSignUpForm label, .inscription__main #candidateSignUpForm label {
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
  align-self: flex-start;
  font-size: 1.2rem;
  margin: 20px 0px;
}
.inscription__main #recruiterSignUpForm input[type=file], .inscription__main #candidateSignUpForm input[type=file] {
  font-size: 0.9rem;
  font-family: "Mulish", sans-serif;
}
.inscription__main #recruiterSignUpForm input::file-selector-button, .inscription__main #candidateSignUpForm input::file-selector-button {
  border: none;
  background-color: rgb(45, 171, 188);
  font-weight: bold;
  color: #fff;
  padding: 10px 5px;
}
.inscription__main #recruiterSignUpForm input::file-selector-button:hover, .inscription__main #candidateSignUpForm input::file-selector-button:hover {
  cursor: pointer;
}
.inscription__main #recruiterSignUpForm button, .inscription__main #candidateSignUpForm button {
  margin: 20px 0px;
  width: 150px;
  height: 40px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  background: rgb(45, 171, 188);
  border: 3px solid rgb(45, 171, 188);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.inscription__main #recruiterSignUpForm button:hover, .inscription__main #candidateSignUpForm button:hover {
  cursor: pointer;
  background: #fff;
  color: rgb(45, 171, 188);
}
.inscription__main #recruiterSignUpForm {
  display: none;
}

.connexion__main {
  padding: 120px 8vw 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.connexion__main h1 {
  font-family: "Mulish", sans-serif;
  color: rgb(45, 171, 188);
  text-align: center;
  margin-bottom: 20px;
}
.connexion__main p {
  margin: 20px 0px;
  font-family: "Martel", serif;
  color: #45413e;
  text-align: justify;
}
.connexion__main h2 {
  color: rgb(45, 171, 188);
  font-family: "Mulish", sans-serif;
  margin: 20px 0px;
  text-align: center;
}
.connexion__main form #formStatus {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.connexion__main form input {
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  margin: 20px 0px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #45413e;
  width: 100%;
}
.connexion__main form input:focus {
  padding: 5px;
  outline: #b9b9b9;
  color: rgb(45, 171, 188);
  border-bottom: 1px solid rgb(45, 171, 188);
}
.connexion__main form button {
  margin: 20px 0px;
  width: 150px;
  height: 40px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  background: rgb(45, 171, 188);
  border: 3px solid rgb(45, 171, 188);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.connexion__main form button:hover {
  cursor: pointer;
  background: #fff;
  color: rgb(45, 171, 188);
}/*# sourceMappingURL=style.css.map */